* {
  background-color: rgb(120, 155, 155);
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: "Courier New", Courier, monospace;
}
header {
  border-bottom: 5px solid goldenrod;
  margin-top: 30px;
  padding-left: 25%;
}
.numbs {
  height: 20px;
  border-radius: 12px;
  margin-left: 43%;
  margin-top: 20px;
  background-color: rgb(202, 218, 202);
  outline: none;
}

.tick {
  padding-top: 30px;
  padding-left: 35%;
}

.countri {
  padding-top: 30px;
  padding-left: 20%;
}

.country {
  padding-top: 10px;
  background-color: rgb(202, 218, 202);
  margin-left: 43%;
  border-radius: 1rem;
  outline: none;
  font-size: 1rem;
}

.pay {
  background-color: rgba(141, 133, 47, 0.747);
  font-family: fantasy;
  padding-top: 10px;
  height: 25px;
  width: 50px;
  margin-top: 10px;
  margin-left: 47%;
}

.pay:hover {
  background-color: rgb(122, 209, 209);
}

.origin {
  margin-left: 35%;
  padding-top: 30px;
}

input::placeholder {
  text-align: center;
  margin: auto;
  font-size: 20px;
}
